<h1>טבלת משמשים({{ users.length }})</h1>
<input type="search" [(ngModel)]="searchVal" placeholder="search" />
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>שם פרטי</th>
      <th>שם משפחה</th>
      <th>שם מלא</th>
      <th>אימייל</th>
      <th>טלפון</th>
      <th>תאריך לידה</th>
      <th>האם חסום?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users | search: searchVal; let i = index">
      <td [style.background-color]="'hsl(' + i * 15 + ',63%,35%)'">
        {{ i + 1 }}
        <span *ngIf="u.isActive">פעיל</span>
        <span [hidden]="u.isActive">לא פעיל</span>
      </td>
      <td><input type="text" [(ngModel)]="u.firstName" /></td>
      <td><input type="text" [(ngModel)]="u.lastName" /></td>
      <td>{{ u.firstName }} {{ u.lastName }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.phone }}</td>
      <td>{{ u.birthday | date: "dd/MM/yyyy" }}</td>
      <td
        [class.green]="u.isBlocked"
        [class.red]="!u.isBlocked"
        (click)="toggle(u)"
      >
        <span [class.isActive]="u.isActive">{{ u.isBlocked ? "V" : "X" }}</span>
      </td>
      <!-- <td
        [class.green]="u.isBlocked"
        [class.red]="!u.isBlocked"
        (click)="u.isActive = !u.isActive"
      >
        <span [class.isActive]="u.isActive">{{ u.isBlocked ? "V" : "X" }}</span>
      </td>
 -->
      <!-- <td [ngClass]="{'green': u.isBlocked, 'red':!u.isBlocked}">
        {{ u.isBlocked ? "V" : "X" }}
      </td> -->

      <!-- <td>
        <span *ngIf="u.isBlocked" class="green">V</span>
        <span *ngIf="!u.isBlocked" class="red">X</span>
      </td> -->
    </tr>
  </tbody>
</table>
